.fooddetail-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.fooddetail-buttons {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}